@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap");
/**
*
**/
/* tablet */
@-webkit-keyframes flying {
  0% {
    -webkit-transform: translateY(0) rotate(0deg);
            transform: translateY(0) rotate(0deg);
    opacity: 1;
  }
  20% {
    -webkit-transform: translateY(20vh) rotate(90deg);
            transform: translateY(20vh) rotate(90deg);
    opacity: 0.8;
  }
  60% {
    -webkit-transform: translateY(60vh) rotate(-45deg);
            transform: translateY(60vh) rotate(-45deg);
    opacity: 0.4;
  }
  90% {
    opacity: 0.9;
  }
  100% {
    -webkit-transform: translateY(185vh) rotate(360deg);
            transform: translateY(185vh) rotate(360deg);
    opacity: 0;
    /* opacity: 1; */
    stroke-dashoffset: 0;
  }
}
@keyframes flying {
  0% {
    -webkit-transform: translateY(0) rotate(0deg);
            transform: translateY(0) rotate(0deg);
    opacity: 1;
  }
  20% {
    -webkit-transform: translateY(20vh) rotate(90deg);
            transform: translateY(20vh) rotate(90deg);
    opacity: 0.8;
  }
  60% {
    -webkit-transform: translateY(60vh) rotate(-45deg);
            transform: translateY(60vh) rotate(-45deg);
    opacity: 0.4;
  }
  90% {
    opacity: 0.9;
  }
  100% {
    -webkit-transform: translateY(185vh) rotate(360deg);
            transform: translateY(185vh) rotate(360deg);
    opacity: 0;
    /* opacity: 1; */
    stroke-dashoffset: 0;
  }
}
.star {
  position: absolute;
  display: block;
  top: -20%;
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}
.star::after {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  border-right: var(--star-size) solid transparent;
  border-left: var(--star-size) solid transparent;
  /* Use the same formula for equilateral triangle */
  border-top: calc(var(--star-size) * 1.73205) solid red;
}

#platform-page {
  position: relative;
  z-index: 2;
  min-width: 60vw;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  max-width: 87vw;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  background-color: rgba(255, 255, 255, 0.33);
  border-radius: 3rem;
  padding: 3rem 3rem 6rem;
  margin: 6vh auto auto;
  -webkit-backdrop-filter: blur(3px);
          backdrop-filter: blur(3px);
  -webkit-box-shadow: 0 0 0.8rem 0.8rem rgba(0, 0, 0, 0.043);
          box-shadow: 0 0 0.8rem 0.8rem rgba(0, 0, 0, 0.043);
}
@media screen and (max-width: 768px) {
  #platform-page {
    width: 90vw;
    max-width: 95vw;
    margin: 2.2rem auto auto;
    padding: .9rem 1rem 1rem;
  }
}
#platform-page h2 {
  letter-spacing: .1rem;
}
#platform-page p,
#platform-page span {
  color: #fff;
}
#platform-page #profile-section {
  position: relative;
}
#platform-page #profile-section .logo-container {
  opacity: .9;
  position: absolute;
  mix-blend-mode: soft-light;
  width: 100%;
  z-index: -1;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  opacity: .3;
}
@media screen and (max-width: 768px) {
  #platform-page #profile-section .logo-container {
    top: 3.9rem;
    z-index: 1;
  }
}
#platform-page #profile-section .profile-image-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2rem 0 0;
}
#platform-page #profile-section .profile-image-container img {
  height: 10rem;
  width: 10rem;
  -o-object-fit: cover;
     object-fit: cover;
  border: 1px solid rgba(255, 255, 255, 0.88);
  -webkit-box-shadow: 0 0 0.8rem 0.8rem rgba(0, 0, 0, 0.043);
          box-shadow: 0 0 0.8rem 0.8rem rgba(0, 0, 0, 0.043);
  border-radius: 100%;
}
#platform-page #profile-section .fullname-container,
#platform-page #profile-section .quote-container {
  text-align: center;
}
#platform-page #profile-section .fullname-container {
  padding: .8rem 0 0;
}
#platform-page #profile-section .fullname-container p,
#platform-page #profile-section .fullname-container span {
  font-family: "Dancing Script", coaursive;
  font-weight: 600;
  font-size: 3.8rem;
  color: #000;
}
@media screen and (max-width: 768px) {
  #platform-page #profile-section .fullname-container p,
  #platform-page #profile-section .fullname-container span {
    padding: 0rem 0 0;
    font-size: 2rem;
  }
}
#platform-page #profile-section .fullname-container p .n-bold,
#platform-page #profile-section .fullname-container span .n-bold {
  font-weight: 700;
}
#platform-page #profile-section .quote-container span {
  display: block;
  font-family: "Dancing Script", coaursive;
  font-weight: 400;
  font-style: normal;
  font-size: 2rem;
  opacity: .9;
  padding: .8rem 0 .8rem;
  color: #501c1c;
  cursor: default;
  background: #ffffffcf;
  border-radius: 1rem;
  padding: 1rem 1.2rem;
  margin: 2rem auto 1rem;
  -webkit-box-shadow: 0 0 0.8rem 0.8rem rgba(0, 0, 0, 0.043);
          box-shadow: 0 0 0.8rem 0.8rem rgba(0, 0, 0, 0.043);
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
@media screen and (max-width: 768px) {
  #platform-page #profile-section .quote-container span {
    font-size: 1.8rem;
  }
}
#platform-page #profile-section .role-container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 1rem;
  padding: 1rem 1rem 0;
}
#platform-page #profile-section .role-container .role-single {
  font-size: 1.2rem;
  padding: .3rem 1rem;
  -webkit-backdrop-filter: blur(3px);
          backdrop-filter: blur(3px);
  color: #842f2f;
  font-weight: 600;
  z-index: 2;
  border-top-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
  -webkit-box-shadow: 0 0 0.8rem 0.8rem rgba(0, 0, 0, 0.043);
          box-shadow: 0 0 0.8rem 0.8rem rgba(0, 0, 0, 0.043);
  cursor: unset;
  background-color: rgba(255, 255, 255, 0.5);
}
@media screen and (max-width: 768px) {
  #platform-page #profile-section .role-container .role-single {
    padding: .3rem .8rem;
    font-size: .9rem;
    border-top-left-radius: .8rem;
    border-bottom-right-radius: .8rem;
    -webkit-box-shadow: 0.3rem 0.3rem 0.8rem 0.3rem rgba(0, 0, 0, 0.075);
            box-shadow: 0.3rem 0.3rem 0.8rem 0.3rem rgba(0, 0, 0, 0.075);
  }
}
#platform-page #profile-section .list-icons-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 3rem;
  margin: 1.5rem 0 0;
}
@media screen and (max-width: 768px) {
  #platform-page #profile-section .list-icons-container {
    gap: .6rem;
  }
}
#platform-page #platform-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2rem;
  z-index: 2;
  margin: 3rem 0 0;
}
#platform-page #platform-section .single-button {
  text-align: center;
  height: -moz-max-content;
  height: -webkit-fit-content !important;
  height: -moz-fit-content !important;
  height: fit-content !important;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  width: 90%;
  border: 1px solid transparent;
  border-radius: 0.8rem;
  -webkit-backdrop-filter: blur(3px);
          backdrop-filter: blur(3px);
  background-color: rgba(255, 255, 255, 0.9);
  -webkit-box-shadow: 0 0 0.8rem 0.8rem rgba(0, 0, 0, 0.043);
          box-shadow: 0 0 0.8rem 0.8rem rgba(0, 0, 0, 0.043);
}
@media screen and (max-width: 768px) {
  #platform-page #platform-section .single-button {
    width: 80vw;
  }
}
@media screen and (max-width: 480px) {
  #platform-page #platform-section .single-button {
    width: 90%;
  }
}
@media screen and (min-width: 480px) {
  #platform-page #platform-section .single-button:hover, #platform-page #platform-section .single-button:active {
    -webkit-transform: scale(0.99);
            transform: scale(0.99);
    border: 1px solid #ff0000;
  }
  #platform-page #platform-section .single-button:hover a span,
  #platform-page #platform-section .single-button:hover ::before, #platform-page #platform-section .single-button:active a span,
  #platform-page #platform-section .single-button:active ::before {
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
  }
}
#platform-page #platform-section .single-button a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 4.5rem;
  padding: .4rem 1.8rem;
}
@media screen and (max-width: 768px) {
  #platform-page #platform-section .single-button a {
    height: 3.5rem;
  }
}
#platform-page #platform-section .single-button a span {
  font-size: 1.5rem;
  opacity: 1 !important;
  color: #842f2f;
  font-weight: 500;
}
@media screen and (max-width: 768px) {
  #platform-page #platform-section .single-button a span {
    font-size: 1.4rem;
  }
}
@media screen and (max-width: 480px) {
  #platform-page #platform-section .single-button a span {
    font-size: 1.4rem;
  }
}
#platform-page #platform-section .single-button a:active {
  outline: none;
}
#platform-page #platform-section .single-button a:focus:not(:focus-visible) {
  outline: none;
}
#platform-page #platform-section .single-button a:focus-visible {
  outline: revert;
}

.spotify-theme {
  color: #1BD760;
}

.spotify-container {
  min-width: 27rem;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  max-width: 90vw;
  margin: 0 auto 0;
  text-align: center;
  border: 1px solid #1BD760;
  -webkit-backdrop-filter: blur(3px);
          backdrop-filter: blur(3px);
  padding: 1.5rem 1.8rem 1.1rem;
  border-radius: 3rem;
  -webkit-box-shadow: 0 0 0.8rem 0.8rem rgba(0, 0, 0, 0.043);
          box-shadow: 0 0 0.8rem 0.8rem rgba(0, 0, 0, 0.043);
  background: #000;
}
.spotify-container #track-info {
  font-size: 2rem;
  color: #fff;
}
.spotify-container #track-info a {
  display: block;
  margin: auto;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 1rem;
}
.spotify-container #track-info a img {
  width: 100%;
  max-width: 13rem;
  border-radius: 2rem;
  -webkit-box-shadow: 0 0 0.8rem 0.8rem rgba(0, 0, 0, 0.043);
          box-shadow: 0 0 0.8rem 0.8rem rgba(0, 0, 0, 0.043);
  border: 1px solid #1BD760;
}
@media screen and (max-width: 768px) {
  .spotify-container #track-info a img {
    max-width: 15rem;
  }
}
.spotify-container #track-info a .track-name {
  padding: .3rem 0 .3rem;
}
.spotify-container #track-info p.nicp {
  padding: 1rem;
}
.spotify-container .audio-preview {
  display: none;
  text-align: center;
}
.spotify-container audio {
  width: 100%;
  max-width: 300px;
}

.priority-focuses-container {
  width: 90%;
  max-width: 90%;
  text-align: center;
  border-radius: 3rem;
  -webkit-box-shadow: 0 0 0.8rem 0.8rem rgba(0, 0, 0, 0.043);
          box-shadow: 0 0 0.8rem 0.8rem rgba(0, 0, 0, 0.043);
  padding: 1.2rem 0;
  background-color: rgba(255, 255, 255, 0.8);
}
.priority-focuses-container .pf-list {
  padding: 0 3.3rem 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.priority-focuses-container .pf-list p {
  color: #000 !important;
  padding: 1.5rem 0 0;
  font-size: 1.4rem;
}

.news-container {
  width: 100%;
  max-width: 90vw;
  min-height: 10rem;
  text-align: center;
  border-radius: 3rem;
  -webkit-box-shadow: 0 0 0.8rem 0.8rem rgba(0, 0, 0, 0.043);
          box-shadow: 0 0 0.8rem 0.8rem rgba(0, 0, 0, 0.043);
  padding: 1.2rem 1rem;
  background-color: #ffffff84;
}
.news-container h1,
.news-container p {
  color: #000 !important;
}
.news-container p {
  padding: 1.4rem 0 0;
}

.floating-social-media-container {
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 9998;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  margin: 0 0 0 1rem;
  padding: 2rem 0 3rem;
}
@media all and (max-width: 768px) {
  .floating-social-media-container {
    margin: 0;
    padding: 1rem 0 1rem;
  }
}
.floating-social-media-container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  width: 50%;
  height: 2px;
  background-color: rgba(255, 255, 255, 0.8);
  z-index: -1;
  -webkit-transform: translate(-50%, 0) rotate(0deg);
          transform: translate(-50%, 0) rotate(0deg);
}
.floating-social-media-container::after {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  width: 2px;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.8);
  z-index: -1;
}
.floating-social-media-container:hover {
  opacity: 1 !important;
}
.floating-social-media-container a {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  text-align: center;
  padding: 1rem;
}
.floating-social-media-container a img {
  width: 2.8rem;
  margin: 0 0 0 1px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
@media all and (max-width: 768px) {
  .floating-social-media-container a img {
    width: 3.3rem;
  }
}
.floating-social-media-container a img.img-linkedin {
  width: 3.5rem;
}
.floating-social-media-container a img.img-github {
  width: 2.7rem;
}
.floating-social-media-container a img.img-instagram {
  width: 3.1rem;
}
.floating-social-media-container a img.img-facebook {
  width: 2.6rem;
}
@media screen and (max-width: 768px) {
  .floating-social-media-container a img.img-youtube {
    width: 2.8rem;
  }
  .floating-social-media-container a img.img-spotify {
    width: 2.7rem;
  }
}
@media all and (max-width: 768px) {
  .floating-social-media-container a img {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
}
.floating-social-media-container a:hover img {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.reduce-opacity {
  opacity: 0.3;
  -webkit-transform: translateX(-3rem);
          transform: translateX(-3rem);
}

.blog-articles-container {
  width: 90%;
  max-width: 90%;
  border-radius: 3rem;
  padding: 3rem 3rem 3rem;
  -webkit-box-shadow: 0 0 0.8rem 0.8rem rgba(0, 0, 0, 0.043);
          box-shadow: 0 0 0.8rem 0.8rem rgba(0, 0, 0, 0.043);
  background-color: rgba(255, 255, 255, 0.8);
  margin: auto;
}
@media screen and (max-width: 768px) {
  .blog-articles-container {
    padding: 1.5rem 1.3rem 1.3rem;
    margin: 0 auto 2rem;
  }
}
.blog-articles-container .list-articles-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-self: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1.3rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
@media screen and (max-width: 768px) {
  .blog-articles-container .list-articles-container {
    gap: 0rem;
  }
}
.blog-articles-container .list-articles-container .article-link-container {
  text-align: left;
  width: 100%;
}
.blog-articles-container .list-articles-container .article-link-container a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1rem;
  padding: .8rem 1rem;
  font-size: 1.2rem;
  border-radius: 0.8rem;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  border: 1px solid transparent;
  color: #000;
}
.blog-articles-container .list-articles-container .article-link-container a b {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  display: inline-block;
  white-space: nowrap;
}
.blog-articles-container .list-articles-container .article-link-container a span {
  width: 100%;
  display: block;
  color: #000 !important;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.blog-articles-container .list-articles-container .article-link-container a::before {
  content: "►";
  padding: 0 .8rem 0 0;
}
@media screen and (min-width: 1024px) {
  .blog-articles-container .list-articles-container .article-link-container a:hover {
    border: 1px solid #000;
    background-color: #00000097;
    color: #fff;
    -webkit-transform: scale(0.99);
            transform: scale(0.99);
  }
}
@media screen and (max-width: 768px) {
  .blog-articles-container .list-articles-container .article-link-container a {
    padding: .6rem 1rem;
  }
}
.blog-articles-container .list-articles-container .article-link-container a b {
  font-weight: 600;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  font-family: 'Poppins', sans-serif;
}

p {
  font-optical-sizing: auto;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

span,
a,
li,
p {
  font-size: 1.2rem;
  font-weight: normal;
  letter-spacing: .1rem;
  text-decoration: none !important;
  color: white;
  outline: none;
}
@media screen and (max-width: 768px) {
  span,
  a,
  li,
  p {
    font-size: 1.15rem;
  }
}
@media screen and (max-width: 480px) {
  span,
  a,
  li,
  p {
    font-size: 1.1rem;
  }
}

p {
  color: white;
}

h2 {
  font-size: 1.8rem;
  margin: 0 0 2rem;
  text-align: center;
  color: #ff0000;
  opacity: .8;
}
@media screen and (max-width: 768px) {
  h2 {
    margin: 0 0 1.2rem;
  }
}

span,
a {
  cursor: pointer;
}

a:active,
a:focus {
  outline: 0;
  border: none;
}

body {
  /* scroll-snap-type: y mandatory;
  overflow-y: scroll; */
  /* This will be displayed if it is loading for too long */
  height: 100%;
  min-height: 100vh;
  background: -webkit-gradient(linear, left bottom, left top, from(white), to(#c60000));
  background: linear-gradient(0deg, white 0%, #c60000 100%);
  background-size: cover !important;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}
body .footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: 100%;
  margin: 3rem 0 3rem;
}
body .footer p {
  font-size: 1.3rem;
  letter-spacing: .1rem;
  color: rgba(0, 0, 0, 0.8);
}
@media screen and (max-width: 480px) {
  body .footer p {
    font-size: 1.1rem;
  }
}
body .footer .globe-view-counter-container {
  margin: 0rem 0 3rem;
}

.loading-indicator {
  font-size: 1.4rem;
  text-align: center;
  width: 100%;
  color: #fff;
  -webkit-animation: fadeInOut 1.8s infinite;
          animation: fadeInOut 1.8s infinite;
  letter-spacing: .1rem;
  padding: 2.5rem 0 0;
}
@media screen and (max-width: 768px) {
  .loading-indicator {
    font-size: 1rem;
    padding: .8rem;
  }
}

@-webkit-keyframes fadeInOut {
  0%,
    100% {
    opacity: 0;
  }
  50% {
    opacity: .8;
  }
}

@keyframes fadeInOut {
  0%,
    100% {
    opacity: 0;
  }
  50% {
    opacity: .8;
  }
}
/* width */
::-webkit-scrollbar {
  display: none;
}

/* Track */
::-webkit-scrollbar-track {
  display: none;
}

/* Handle */
::-webkit-scrollbar-thumb {
  display: none;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  display: none;
}
