/**
*
**/
/* tablet */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap");
@-webkit-keyframes flying {
  0% {
    -webkit-transform: translateY(0) rotate(0deg);
            transform: translateY(0) rotate(0deg);
    opacity: 1;
  }
  20% {
    -webkit-transform: translateY(20vh) rotate(90deg);
            transform: translateY(20vh) rotate(90deg);
    opacity: 0.8;
  }
  60% {
    -webkit-transform: translateY(60vh) rotate(-45deg);
            transform: translateY(60vh) rotate(-45deg);
    opacity: 0.4;
  }
  90% {
    opacity: 0.9;
  }
  100% {
    -webkit-transform: translateY(110vh) rotate(360deg);
            transform: translateY(110vh) rotate(360deg);
    opacity: 0;
    /* opacity: 1; */
    stroke-dashoffset: 0;
  }
}
@keyframes flying {
  0% {
    -webkit-transform: translateY(0) rotate(0deg);
            transform: translateY(0) rotate(0deg);
    opacity: 1;
  }
  20% {
    -webkit-transform: translateY(20vh) rotate(90deg);
            transform: translateY(20vh) rotate(90deg);
    opacity: 0.8;
  }
  60% {
    -webkit-transform: translateY(60vh) rotate(-45deg);
            transform: translateY(60vh) rotate(-45deg);
    opacity: 0.4;
  }
  90% {
    opacity: 0.9;
  }
  100% {
    -webkit-transform: translateY(110vh) rotate(360deg);
            transform: translateY(110vh) rotate(360deg);
    opacity: 0;
    /* opacity: 1; */
    stroke-dashoffset: 0;
  }
}
.star {
  position: absolute;
  display: block;
  top: -20%;
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}
.star::after {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  border-right: var(--star-size) solid transparent;
  border-left: var(--star-size) solid transparent;
  /* Use the same formula for equilateral triangle */
  border-top: calc(var(--star-size) * 1.73205) solid red;
}

.is-loading {
  opacity: 0;
}

#platform-page {
  width: 100vw;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  position: relative;
  z-index: 2;
}
#platform-page h2 {
  letter-spacing: .1rem;
}
#platform-page h2,
#platform-page p,
#platform-page span {
  color: #fff;
}
#platform-page #profile-section {
  position: relative;
}
#platform-page #profile-section .profile-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 3rem 0;
}
@-webkit-keyframes profileAnim {
  100% {
    -webkit-transform: translate(-0.3px, -3px) scale(1.1);
            transform: translate(-0.3px, -3px) scale(1.1);
  }
}
@keyframes profileAnim {
  100% {
    -webkit-transform: translate(-0.3px, -3px) scale(1.1);
            transform: translate(-0.3px, -3px) scale(1.1);
  }
}
#platform-page #profile-section .profile-container::before {
  content: "";
  position: absolute;
  background-color: rgba(255, 255, 255, 0.4);
  border-radius: 100%;
  height: 10rem;
  width: 10rem;
  z-index: -1;
}
#platform-page #profile-section .profile-container::before {
  -webkit-transform: translate(0, -2px);
          transform: translate(0, -2px);
  -webkit-animation: profileAnim 1s infinite alternate;
          animation: profileAnim 1s infinite alternate;
}
#platform-page #profile-section .profile-container img {
  height: 10rem;
  width: 10rem;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 100%;
}
#platform-page #profile-section .al-container {
  width: 50vw;
  margin: 1rem auto 2rem;
}
@media screen and (max-width: 768px) {
  #platform-page #profile-section .al-container {
    width: 80%;
  }
}
@media screen and (max-width: 480px) {
  #platform-page #profile-section .al-container {
    width: 85%;
  }
}
#platform-page #profile-section .al-container h1.achievement-title.collapsible {
  text-align: center;
  cursor: pointer;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: auto;
}
@media screen and (max-width: 768px) {
  #platform-page #profile-section .al-container h1.achievement-title.collapsible {
    font-size: 1.7rem;
  }
}
@media screen and (max-width: 480px) {
  #platform-page #profile-section .al-container h1.achievement-title.collapsible {
    font-size: 1.6rem;
  }
}
#platform-page #profile-section .al-container h1.achievement-title.collapsible::before {
  content: ">";
  padding: 0 .8rem 0 0;
}
#platform-page #profile-section .al-container h1.achievement-title.collapsible.active::before {
  content: "_";
}
@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
#platform-page #profile-section .al-container .list-container {
  opacity: 0;
  display: none;
  background-color: rgba(255, 255, 255, 0.1);
  -webkit-transition: all .6s ease-in-out;
  transition: all .6s ease-in-out;
}
#platform-page #profile-section .al-container .list-container.fade-in {
  display: block;
  margin-top: 1rem;
  -webkit-animation: fadeIn 2s forwards;
          animation: fadeIn 2s forwards;
}
#platform-page #profile-section .al-container .list-container .category-container {
  position: relative;
  padding: 0 1rem 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1rem;
}
#platform-page #profile-section .al-container .list-container .category-container:not(:last-child) {
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
#platform-page #profile-section .al-container .list-container .category-container h2 {
  top: 0;
  left: 0;
  font-size: 1.5rem;
  opacity: .5;
  -webkit-transform: translate(0, 35%);
          transform: translate(0, 35%);
}
@media screen and (max-width: 768px) {
  #platform-page #profile-section .al-container .list-container .category-container h2 {
    font-size: 1.4rem;
  }
}
@media screen and (max-width: 480px) {
  #platform-page #profile-section .al-container .list-container .category-container h2 {
    font-size: 1.3rem;
  }
}
#platform-page #profile-section .al-container .list-container .category-container .title-list-container {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
#platform-page #profile-section .al-container .list-container .category-container .title-list-container p.al-title {
  color: #fff;
  font-size: 1.5rem;
}
#platform-page #profile-section .al-container .list-container .category-container .title-list-container p.al-title span:nth-child(2) {
  letter-spacing: .1rem;
}
#platform-page #profile-section .al-container .list-container .category-container .title-list-container p.al-title span {
  opacity: .8;
}
@media screen and (max-width: 768px) {
  #platform-page #profile-section .al-container .list-container .category-container .title-list-container p.al-title {
    font-size: 1.4rem;
  }
}
@media screen and (max-width: 480px) {
  #platform-page #profile-section .al-container .list-container .category-container .title-list-container p.al-title {
    font-size: 1.3rem;
  }
}
#platform-page #platform-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2rem;
  z-index: 2;
}
#platform-page #platform-section span {
  font-weight: 400;
}
#platform-page #platform-section .single-button {
  background-color: rgba(0, 0, 0, 0.3);
  text-align: center;
  height: -moz-max-content;
  height: -webkit-fit-content !important;
  height: -moz-fit-content !important;
  height: fit-content !important;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  width: 50vw;
  padding: .4rem 1.2rem;
  border: 1px solid transparent;
}
@media screen and (max-width: 768px) {
  #platform-page #platform-section .single-button {
    width: 80vw;
  }
}
@media screen and (max-width: 480px) {
  #platform-page #platform-section .single-button {
    width: 90vw;
  }
}
#platform-page #platform-section .single-button:hover, #platform-page #platform-section .single-button:active {
  -webkit-transform: scale(0.99);
          transform: scale(0.99);
  border: 1px solid #ff0000;
  background-color: rgba(0, 0, 0, 0.1);
}
#platform-page #platform-section .single-button:hover a span,
#platform-page #platform-section .single-button:hover ::before, #platform-page #platform-section .single-button:active a span,
#platform-page #platform-section .single-button:active ::before {
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}
#platform-page #platform-section .single-button a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  height: 3.4rem;
}
@media screen and (max-width: 768px) {
  #platform-page #platform-section .single-button a {
    height: 3rem;
  }
}
#platform-page #platform-section .single-button a span {
  font-size: 1.5rem;
  opacity: 1 !important;
}
@media screen and (max-width: 768px) {
  #platform-page #platform-section .single-button a span {
    font-size: 1.4rem;
  }
}
@media screen and (max-width: 480px) {
  #platform-page #platform-section .single-button a span {
    font-size: 1.4rem;
  }
}
#platform-page #platform-section .single-button a:active {
  outline: none;
}
#platform-page #platform-section .single-button a:focus:not(:focus-visible) {
  outline: none;
}
#platform-page #platform-section .single-button a:focus-visible {
  outline: revert;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  font-family: 'Poppins', sans-serif;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

span,
a,
li,
p {
  font-size: 1.2rem;
  font-weight: normal;
  letter-spacing: .1rem;
  text-decoration: none !important;
  color: white;
  outline: none;
}
@media screen and (max-width: 768px) {
  span,
  a,
  li,
  p {
    font-size: 1.15rem;
  }
}
@media screen and (max-width: 480px) {
  span,
  a,
  li,
  p {
    font-size: 1.1rem;
  }
}

h1,
h2,
p {
  color: white;
}

span,
a {
  cursor: pointer;
}

a:active,
a:focus {
  outline: 0;
  border: none;
}

body {
  height: 100%;
  min-height: 100vh;
  /* scroll-snap-type: y mandatory;
  overflow-y: scroll; */
  /* This will be displayed if it is loading for too long */
  background: -webkit-gradient(linear, left bottom, left top, from(white), to(#c60000));
  background: linear-gradient(0deg, white 0%, #c60000 100%);
  /*  Neumorphism Theme */
  background-size: cover !important;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}
body .footer {
  text-align: center;
  height: 10vh;
  width: 100%;
  margin: auto 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 3rem 0 0;
}
body .footer p {
  font-size: 1.3rem;
  letter-spacing: .1rem;
  color: rgba(0, 0, 0, 0.8);
}
@media screen and (max-width: 480px) {
  body .footer p {
    font-size: 1.1rem;
  }
}
