// List of colours

$theme-dark-color: #080017;
$theme-dark-color: #080010;
$theme-dark-color: #040009;
$theme-color: #7eff70;
$theme-color: #60ff58;
$theme-light-color: #e8ffe4;

// --- Text scheme ---
// main-p-color
// OLD ddfff8 / dedef5
$theme-font-color: #d8d8d8;
$theme-anchor-tag-color: #39942e;

//#BE93C5
$theme-h1-color: rgba(255, 255, 255, 0.15);

$theme-small-title-color: #30882b;

// Currently is the ENKR text, <a>
$logo-color: $theme-color;

// $media-icon-color: #e0e0f7;
$media-icon-color: #000000;

$r: 96;
$b: 255;
$g: 88;
// https://css-tricks.com/almanac/properties/b/box-shadow/
// $neumorphism-box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.044),
// 0 6.7px 5.3px rgba(0, 0, 0, 0.058),
// 0 12.5px 10px rgba(0, 0, 0, 0.07),
// 0 22.3px 17.9px rgba(0, 0, 0, 0.082),
// 0 41.8px 33.4px rgba(0, 0, 0, 0.096),
// 0 100px 80px rgba(0, 0, 0, 0.22);

// $neumorphism-box-shadow: 0 -.3rem 3rem rgba($r, $b, $g, 0.08),
// .3rem 1rem 3rem rgba($r, $b, $g, 0.1),
// -.3rem 1rem 3rem rgba($r, $b, $g, 0.1),
// 0 0.3rem 3rem rgba($r, $b, $g, 0.03);

$neumorphism-box-shadow: 0 -.8rem 0 rgba($r, $b, $g, 0.08),
.8rem 0 0 rgba($r, $b, $g, 0.1),
-.8rem 0 0 rgba($r, $b, $g, 0.1),
0 .8rem 0 rgba($r, $b, $g, 0.3);
// 0 100px 80px rgba($r, $b, $g, 0.22);

$theme-gradient: linear-gradient(0deg, $theme-color, $theme-dark-color);

// --background
$theme-background: linear-gradient(0deg, $theme-color, $theme-dark-color) no-repeat center fixed;
// --mobile-bar-color
$theme-mobile-bar-color: linear-gradient(45deg, $theme-dark-color, $theme-color, $theme-light-color);
// --mobile-bar-bg
$theme-mobile-bar-bg: linear-gradient(45deg, $theme-dark-color, $theme-color);
$desktop-secondary-nav-bar-color-light: linear-gradient(45deg, $theme-light-color, $theme-color);
$desktop-secondary-nav-bar-color-dark: linear-gradient(90deg, $theme-dark-color, $theme-color);
