#loading-screen {
  position: fixed;
  width: 100dvw;
  height: 100dvh;
  background-color: #000000;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  transition: all 1.3s ease-in-out;
  // transition: opacity 1.3s ease, z-index 0.3s ease;

  .loading-bar-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;

    #loading-bar {
      display: none;
      height: 1rem;
      background-color: #ffffff;
    }

    #loading-text {
      color: #ffffff;
      margin: 0 0 0 1rem;
      font-size: 1.8rem;
    }
  }
}
