.blog-articles-container {
  width: $global-container-width;
  max-width: $global-container-width;
  border-radius: $border-radius;
  padding: 3rem 3rem 3rem;
  box-shadow: $box-shadow;
  background-color: $container-bg-color;
  margin: auto;

  @media screen and (max-width: $screen_sm) {
    // width: 100%;
    padding: 1.5rem 1.3rem 1.3rem;
    margin: 0 auto 2rem;
  }

  // .ba-title-section {
  //   h2 {}
  // }

  .list-articles-container {
    display: flex;
    justify-self: flex-start;
    align-items: center;
    gap: 1.3rem;
    flex-direction: column;

    @media screen and (max-width: $screen_sm) {
      gap: 0rem;
    }

    .article-link-container {
      text-align: left;
      width: 100%;

      a {
        display: block;
        padding: .8rem 1rem;
        font-size: $font-size-sm;
        border-radius: $border-radius-btn;
        transition: all .3s ease-in-out;
        width: 100%;
        border: 1px solid transparent;
        color: #000;

        &::before {
          content: "►";
          padding: 0 .8rem 0 0;
        }

        @media screen and (min-width: $screen_md_1) {
          &:hover {
            border: 1px solid #000;
            background-color: #00000097;
            color: #fff;
            transform: scale(.99);
          }
        }

        // mobile
        @media screen and (max-width: $screen_sm) {
          padding: .6rem 1rem;
          // border: .3px solid #000000ad;
        }

        b {
          font-weight: 600;
        }
      }
    }
  }
}
