.blog-articles-container {
  width: $global-container-width;
  max-width: $global-container-width;
  border-radius: $border-radius;
  padding: 3rem 3rem 3rem;
  box-shadow: $box-shadow;
  background-color: $container-bg-color;
  margin: auto;

  @media screen and (max-width: $screen_sm) {
    padding: 1.5rem 1.3rem 1.3rem 1.8rem;
    margin: 0 auto 2rem;
  }

  .list-articles-container {
    display: flex;
    justify-self: flex-start;
    align-items: center;
    gap: 1.3rem;
    flex-direction: column;

    @media screen and (max-width: $screen_sm) {
      gap: 0rem;
    }

    .article-link-container {
      text-align: left;
      width: 100%;

      a {
        position: relative;
        display: grid;
        grid-template-columns: 1fr 11fr;
        gap: .3rem;
        padding: .8rem 1rem .8rem 1.8rem;
        font-size: $font-size-sm;
        border-radius: $border-radius-btn;
        transition: all .3s ease-in-out;
        border: 1px solid transparent;
        color: #000;

        &::before {
          content: "►";
          position: absolute;
          left: 0;
          top: 50%;
          transform: translateY(-50%);
          transition: all .3s ease-in-out;
        }

        // Animaition for larger screen
        @media screen and (min-width: $screen_md_1) {
          &:hover {
            border: 1px solid #000;
            background-color: #00000097;
            color: #fff;
            transform: scale(.99);

            &::before {
              left: .4rem;
              transform: translateY(-50%) scale(.5);
            }

            span {
              color: #fff !important;
            }
          }
        }

        // mobile
        @media screen and (max-width: $screen_xs) {
          padding: .6rem 1rem .6rem 1.8rem;
          grid-template-columns: 4fr auto;
          width: fit-content;
        }

        b {
          width: fit-content;
          display: inline-block;
          white-space: nowrap;
          font-weight: 600;
        }

        span {
          width: 100%;
          display: block;
          color: #000 !important;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          font-weight: 400;
        }
      }
    }
  }
}
