#platform-page {
  $font-color-platform: #fff;
  $font-size-al-title-xl: 1.5rem;
  $font-size-al-title-sm: 1.4rem;
  $font-size-al-title-xs: 1.3rem;
  $font-size-al-p-xl: 1.5rem;
  $font-size-al-p-sm: 1.4rem;
  $font-size-al-p-xs: 1.3rem;
  $font-size-platforms-p-xl: $font-size-al-p-xl;
  $font-size-platforms-p-sm: $font-size-al-p-sm;
  $font-size-platforms-p-xs: $font-size-al-p-sm;

  position: relative;
  z-index: 2;
  min-width: 60vw;
  width: fit-content;
  background: #ffffff1a;
  border-radius: 3rem;
  padding: 3rem 3rem 6rem;
  margin: 6vh auto auto;
  backdrop-filter: blur(3px);
  box-shadow: 0 0 .8rem .8rem #0000000a;

  @media screen and (max-width: $screen_sm) {
    width: 90vw;
    margin: 2.2rem auto auto;
    padding: .9rem 1rem 3rem;
  }

  h2 {
    letter-spacing: .1rem;
  }

  h2,
  p,
  span {
    color: $font-color-platform;
    // letter-spacing: unset;
    // word-spacing: unset;
  }

  #profile-section {
    position: relative;
    // padding: 3rem 0 0;

    .profile-container {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 3rem 0;

      $img-s: 10rem;
      $img-centre: 46.6%;
      $img-rotate-y: 0;
      // background-color: rgba(255, 255, 255, 0);

      @keyframes profileAnim {
        0% {
          // top: 0%;
          // left: $img-centre - 1%;
        }

        100% {
          // transform: rotate(360deg) translate($img-centre, $img-rotate-y);
          // transform-origin: 0 0;
          transform: translate(-.3px, -3px) scale(1.1);
        }
      }

      &::before {
        content: "";
        position: absolute;
        // background-color: rgba(0, 0, 0, 0.4);
        background-color: rgba(255, 255, 255, 0.4);
        border-radius: 100%;
        height: $img-s + 1rem;
        width: $img-s + 1rem;
        z-index: -1;
      }

      &::before {
        transform: translate(0, -2px);
        // animation: profileAnim 1s infinite alternate;
      }

      img {
        height: $img-s;
        width: $img-s;
        object-fit: cover;
        border-radius: 100%;

      }
    }

    .list-icons-container {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 3rem;
      margin: 0 0 3rem;

      @media screen and (max-width: $screen_sm) {
        gap: .8rem;
      }

      a {
        padding: 1rem;

        img {
          width: 2.5rem;

          &.img-linkedin {
            width: 3.2rem;
          }

          @media screen and (max-width: $screen_sm) {
            width: 3rem;
          }

          &.img-github {
            width: 2.4rem;
          }

          &.img-instagram {
            width: 2.8rem;
          }

          &.img-facebook {
            width: 2.3rem;
          }
        }
      }
    }

    .al-container {
      width: 50vw;
      margin: 1rem auto 2rem;

      @media screen and (max-width: $screen_sm) {
        width: 80%;
      }

      @media screen and (max-width: $screen_xs) {
        width: 85%;
      }

      h1.achievement-title.collapsible {
        text-align: center;
        cursor: pointer;
        width: fit-content;
        margin: auto;

        @media screen and (max-width: $screen_sm) {
          font-size: 1.7rem;
        }

        @media screen and (max-width: $screen_xs) {
          font-size: 1.6rem;
        }

        &::before {
          content: ">";
          padding: 0 .8rem 0 0;
        }

        &.active {
          &::before {
            content: "_";
          }
        }
      }

      @keyframes fadeIn {
        0% {
          opacity: 0;
        }

        100% {
          opacity: 1;
        }
      }

      .list-container {
        opacity: 0;
        display: none;
        background-color: rgba(255, 255, 255, 0.1);
        transition: all .6s ease-in-out;

        &.fade-in {
          display: block;
          margin-top: 1rem;
          animation: fadeIn 2s forwards;
        }

        .category-container {
          position: relative;
          padding: 0 1rem 1rem;
          display: flex;
          flex-direction: column;
          gap: 1rem;

          &:not(:last-child) {
            border-bottom: 1px solid rgba(255, 255, 255, 0.1);
          }

          h2 {
            top: 0;
            left: 0;
            font-size: $font-size-al-title-xl;
            opacity: .5;
            transform: translate(0, 35%);

            @media screen and (max-width: $screen_sm) {
              font-size: $font-size-al-title-sm;
            }

            @media screen and (max-width: $screen_xs) {
              font-size: $font-size-al-title-xs;
            }
          }

          .title-list-container {
            width: fit-content;

            p.al-title {
              color: $theme-light-color;
              font-size: $font-size-al-p-xl;

              span:nth-child(2) {
                letter-spacing: .1rem;
              }

              span {
                opacity: .8;
              }

              @media screen and (max-width: $screen_sm) {
                font-size: $font-size-al-p-sm;
              }

              @media screen and (max-width: $screen_xs) {
                font-size: $font-size-al-p-xs;
              }
            }
          }
        }
      }
    }
  }

  #platform-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    z-index: 2;

    // Button
    .single-button {
      text-align: center;
      height: -moz-max-content;
      height: fit-content !important;
      transition: all .3s ease-in-out;
      width: 90%;
      border: 1px solid transparent;
      border-radius: .8rem;
      backdrop-filter: blur(3px);
      background-color: rgba(255, 255, 255, 0.6);

      @media screen and (max-width: $screen_sm) {
        width: 80vw;
      }

      @media screen and (max-width: $screen_xs) {
        width: 90%;
      }

      // TODO: BE CREATIVE, NEXT TIME
      // https://www.joshwcomeau.com/animation/3d-button/
      // &.single-button-name
      @media screen and (min-width: $screen_xs) {

        &:hover,
        &:active {
          transform: scale(.99);
          border: 1px solid $theme-color;
          // background-color: rgba(0, 0, 0, 0.1);

          a span,
          ::before {
            // color: $theme-color;
            transition: all .3s ease-in-out;
          }
        }
      }

      // Link
      a {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 4.5rem;
        padding: .4rem 1.8rem;

        @media screen and (max-width: $screen_sm) {
          height: 3.5rem;
          // width: 80vw;
        }

        span {
          font-size: $font-size-platforms-p-xl;
          opacity: 1 !important;
          color: #842f2f;
          font-weight: 500;
          // text-transform: uppercase;

          @media screen and (max-width: $screen_sm) {
            font-size: $font-size-platforms-p-sm;
          }

          @media screen and (max-width: $screen_xs) {
            font-size: $font-size-platforms-p-xs;
          }
        }

        &:active {
          outline: none;
        }

        &:focus:not(:focus-visible) {
          outline: none;
        }

        &:focus-visible {
          outline: revert;
        }
      }
    }
  }
}
