.priority-focuses-container {
  width: $global-container-width;
  max-width: $global-container-width;
  text-align: center;
  border-radius: $border-radius;
  box-shadow: $box-shadow;
  padding: 1.2rem 0;
  // background-color: #ffffff8d;
  background-color: $container-bg-color;

  .pf-list {
    padding: 0 3.3rem 2rem;
    display: flex;
    flex-direction: column;

    p {
      color: #000 !important;
      padding: 1.5rem 0 0;
      font-size: 1.4rem;
      // text-align: left;
    }
  }
}
