.priority-focuses-container {
  width: 90%;
  max-width: 90vw;
  min-height: 10rem;
  text-align: center;
  // border: 1px solid #fff;
  border-radius: 3rem;
  box-shadow: $box-shadow;
  padding: 1.2rem 0;
  background-color: #ffffffb2;

  h1 {
    color: $theme-color;
    opacity: .8;
  }

  .pf-list {
    padding: 0 3.3rem 2rem;
    display: flex;
    flex-direction: column;

    p {
      color: #000 !important;
      padding: 1.2rem 0 0;
      font-size: 1.4rem;
      text-align: left;
    }
  }
}
