$spotify-theme-colour: #1BD760;

.spotify-theme {
  color: $spotify-theme-colour;
}

.spotify-container {
  margin: 3rem 2cm 0;
  text-align: center;
  border: 1px solid $spotify-theme-colour;
  backdrop-filter: blur(3px);
  padding: 1.4rem 3rem;
  border-radius: 3rem;
  // box-shadow: 0 0 .8rem .8rem #1BD760;
  box-shadow: $box-shadow;

  #track-info {
    font-size: 2rem;

    a {
      padding: 1rem;
      display: block;
      margin: auto;

      img {
        width: 100%;
        max-width: 30rem;
      }

    }
  }

  .audio-preview {
    text-align: center;
    /* Centers the audio player */
    padding: 10px;
  }

  audio {
    /* Styling the audio player */
    width: 100%;
    /* Full width */
    max-width: 300px;
    /* Max width, you can adjust it based on your design */
  }
}
