$spotify-theme-colour: #1BD760;

.spotify-theme {
  color: $spotify-theme-colour;
}

.spotify-container {
  min-width: 27rem;
  width: fit-content;
  max-width: 90vw;
  margin: 0 auto 0;
  text-align: center;
  border: 1px solid $spotify-theme-colour;
  backdrop-filter: blur(3px);
  padding: 1.5rem 1.8rem 1.1rem;
  border-radius: 3rem;
  // box-shadow: 0 0 .8rem .8rem #1BD760;
  box-shadow: $box-shadow;
  background: #000;

  #track-info {
    font-size: 2rem;
    color: #fff;

    a {
      display: block;
      margin: auto;
      width: fit-content;
      padding: 1rem;

      img {
        width: 100%;
        max-width: 13rem;
        border-radius: 2rem;
        box-shadow: $box-shadow;
        border: 1px solid $spotify-theme-colour;

        @media screen and (max-width: $screen_sm) {
          max-width: 15rem;
        }
      }

      .track-name {
        padding: .3rem 0 .3rem;
      }

      .track-artists {}
    }
  }

  .audio-preview {
    display: none;
    text-align: center;
  }

  audio {
    width: 100%;
    max-width: 300px;
  }
}
