@keyframes flying {
  0% {
    transform: translateY(0) rotate(0deg);
    opacity: 1;
  }

  20% {
    transform: translateY(20vh) rotate(90deg);
    opacity: 0.8;
  }

  60% {
    transform: translateY(60vh) rotate(-45deg);
    opacity: 0.4;
  }

  90% {
    opacity: 0.9;
  }

  100% {
    transform: translateY(110vh) rotate(360deg);
    opacity: 0;
    /* opacity: 1; */
    stroke-dashoffset: 0;
  }
}

.star {
  position: absolute;
  display: block;
  // background: #fff;
  // border-radius: 100%;
  top: -20%;
  // margin: 2%;
  // clip-path: polygon(50% 0%, 0% 100%, 100% 100%);

  // width: 0 !important;
  // height: 0 !important;
  // border-right: 50px solid transparent;
  // border-left: 50px solid transparent;
  // border-bottom: 86.60254px solid salmon;
  transition: all 1s ease-in-out;

  &::after {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border-right: var(--star-size) solid transparent;
    border-left: var(--star-size) solid transparent;
    /* Use the same formula for equilateral triangle */
    border-top: calc(var(--star-size) * 1.73205) solid red;
  }
}

.is-loading {
  // display: none;
  opacity: 0;
}
