@import "_00-colours";
@import "_variables";
@import "_stars";
@import "_platforms_container";

// https://fonts.google.com/specimen/Poppins
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
    font-family: 'Poppins', sans-serif;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
}

// Link text
span,
a,
li,
p {
    font-size: $default_global_font_size;
    font-weight: normal;
    letter-spacing: .1rem;
    text-decoration: none !important;
    color: white;
    outline: none;

    @media screen and (max-width: $screen_sm) {
        font-size: $sm_global_font_size;
    }

    @media screen and (max-width: $screen_xs) {
        font-size: $xs_global_font_size;
    }
}

h1,
h2,
p {
    color: white;
}

span,
a {
    cursor: pointer;
}

a:active,
a:focus {
    outline: 0;
    border: none;
}

body {
    // width: 100vw;
    height: 100%;
    min-height: 100vh;
    // display: flex;
    // flex-direction: column;
    // justify-content: space-around;
    // gap: 1rem;

    /* scroll-snap-type: y mandatory;
    overflow-y: scroll; */
    // background: url("https://cdn.discordapp.com/attachments/826877621061156904/842069826260434954/DSC_0290_1_1.jpg") no-repeat center fixed;

    // @media screen and (max-width: $screen_xs) {
    //     background: url("https://enkr1.github.io/web/images/bg-img-mobile-1.jpg") no-repeat center fixed;
    // }

    // box-shadow: inset 0 0 100vw 100vh #00000040;
    /* This will be displayed if it is loading for too long */
    // background-color: #000000;
    // background-color: #15163a;
    background: $theme-background;
    /*  Neumorphism Theme */
    // background: $theme-background;
    background-size: cover !important;
    transition: all .3s ease-in-out;

    .footer {
        text-align: center;
        height: 10vh;
        width: 100%;
        margin: auto 0 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 3rem 0 0;

        p {
            font-size: 1.3rem;
            letter-spacing: .1rem;
            color: rgba(0, 0, 0, 0.8);

            @media screen and (max-width: $screen_xs) {
                font-size: 1.1rem;
            }
        }
    }
}
